@font-face {
    font-family: 'digital';
    src: url('../fonts/digital/ds-digi.woff2') format('woff2'),
        url('../fonts/digital/ds-digi.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.form-group-default.form-group-default-select2>label {
    z-index: 9999 !important;
}

.nav-tabs-linetriangle {
    background-color: #1971e6 !important;
}

.nav-tabs-linetriangle a {
    color: #fff !important;
}

.nav-tabs-linetriangle a.active:after {
    border-top-color: #1971e6 !important;
}

#bg-master-lightest {
    background-color: #fafafa;
    padding: 30px;
    overflow: visible;
}

.room {
    min-height: 231px;
}

.room.bg-danger,
.room.bg-danger>.card-header,
.room.bg-master,
.room.bg-master>.card-header,
.room.bg-complete,
.room.bg-complete>.card-header {
    color: #fff !important;
}

.room-name {
    margin-top: 10px;
    font-weight: 700;
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

.room-timer {
    font-family: digital;
    font-size: 30pt;
    line-height: 50pt;
    height: 66px;
}

.label-filter {
    padding: 3px 9px;
    font-size: 11px;
    line-height: 1;
    text-shadow: none;
    font-weight: 600;
    border-radius: .25em;
}

.bg-filter {
    background-color: #1971e6;
}

.read-notify > .cursor:hover {
    background-color:rgb(203, 229, 247);
}

.read-notify > div {
    line-height: 30px;
    font-size: 12px;
}
